body {
    padding-top: 70px;
}

.wrapper {
    margin-top: 20px;
}

.messages {
    list-style-type: none;
}

.messages li {
    padding: 4px 10px;
}

.messages .error {
    background: #e69cb1;
    border: red 1px dotted;
}

.messages .success {
    background: #a6f5be;
    border: green 1px dotted;
}