body {
    padding-top: 70px;
}

.wrapper {
    margin-top: 20px;
}

.messages {
    list-style-type: none;
}

.messages li {
    padding: 4px 10px;
}

.messages .error {
    background: #e69cb1;
    border: red 1px dotted;
}

.messages .success {
    background: #a6f5be;
    border: green 1px dotted;
}

.treet-listing {
    overflow: hidden;
}

.treet-item {
    display: block;
    border: 1px solid #ddd;
    margin: 20px 10px;
    padding: 5px;
    float: left;
    width: 210px;
    min-height: 300px;
    text-decoration: none;
}

.treet-title {
    font-size: 120%;
}

.treet-thumb {
    width: 200px;
    margin-bottom: 10px;
}

.treet-user {
    font-size: 90%;
}

.treet-info2 .treet-descr {
    border-right: 1px solid #ddd;
    padding-right: 20px;
    min-height: 300px;
}

.treet-user-tile {
    margin-top: 20px;
}    

.treet-user-tile img {
    max-width: 120px;
}

.user-happy-index h2 {
    margin-top: 0px;
}

.treet-user-tile p {
    font-size: 90%;
}